extends templates/layout 

block content 
   h1=pageTitle
    h3.form-container
        form(action=routes.editMovie(movie._id), method="post")
            input(type="text", placeholder="Title", name="title", value=movie.title)
            input(type="number", placeholder="Year", name="year", value=movie.year)
            input(type="text", placeholder="Rating", name="rating", value=movie.rating)
            textarea(name="synopsis", placeholder="Synopsis")=movie.synopsis
            input(type="text", placeholder="Genres", name="genres", value=movie.genres)
            input(type="submit", value="Update")
        a.form-container__link--delete(href=routes.deleteMovie(movie._id)) Delete Movie